---
import { Flex } from "@radix-ui/themes";
import { lexer, type Tokens } from "marked";
import TokenCode from "./TokenCode.astro";
import TokenHeading from "./TokenHeading.astro";
import TokenImage from "./TokenImage.astro";
import TokenParagraph from "./TokenParagraph.astro";

interface Props {
  content: string;
}

export interface TokenRendererProps<Type> {
  token: Type | Tokens.Generic;
}

const { content } = Astro.props;
const tokens = lexer(content);
const title = tokens.find((token) => token.type === "heading") as
  | Tokens.Heading
  | undefined;
---

{title && <title>{title.text}</title>}

<Flex direction="column">
  {
    tokens.map((token) => {
      switch (token.type) {
        case "heading":
          return <TokenHeading token={token} />;

        case "paragraph": {
          if (token.raw.startsWith("![")) {
            return <TokenImage token={token} />;
          }

          return <TokenParagraph token={token} />;
        }

        case "code":
          return <TokenCode token={token} />;

        case "space":
          return null;

        case "html":
          return <Fragment set:html={token.raw} />;

        default:
          console.warn(`Unhandled token type: ${token.type}`);
          return null;
      }
    })
  }
</Flex>
